<div class="container text-center col-md-8 col-md-offset-2">
  <h2>編集</h2>

  <%= form_with model: @post do |f| %>
    <div class="field mt-5 mb-5">
      <strong><%= f.label :画像の投稿 %></strong>（複数選択可能です)
      <%= f.file_field :post_images, direct_uplｓoad: true, multiple: true,  accept: "image/*", style:"margin-left:15px;"    %>
    </div>

    <div class="field  mb-4 ">
      <strong><%= f.label :遊びの題名・名前%></strong>
      <%= f.text_field :name,  style:"margin-left:15px;" %>
    </div>

    <div class="field mb-4">
      <strong><%= f.label :遊び方説明・内容説明 %></strong>
      <%= f.text_area  :introduction, class:"form-control", style:"height: 165px;"%>
    </div>

     <div class="field  mb-4">
      <strong><%= f.label :費用  %></strong>
      <%= f.text_field :cost, class:"form-control", placeholder: "(例)ボール代 1000円等  費用がかからない場合は記入不要です。"  %>
    </div>


    <div class="field mb-4">
      <strong><%= f.label :ジャンル %></strong>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt:"選択してください"})  %>
    </div>

    <%= f.submit "更新する",class:"btn btn-primary mb-5" %>
  <% end %>

  <%= link_to "この遊びを削除する" ,post_path(@post.id) , method: :delete , "data-confirm" => "本当に削除しますか？", class:"btn btn-danger mb-5" %>

</div>