<div class="container text-center col-md-6 col-md-offset-3">

<h3>新規投稿</h3>

  <%= form_with model: @post, url:posts_path do |f| %>
    <div class="field mt-5 mb-3">
      <label for= "post_images">画像</label>
      <%= f.file_field :post_images, direct_upload: true, multiple: true,  accept: "image/*"%>
    </div>

    <div class="field mb-3">
      <%= f.label :遊びの題名・名前 %>
      <%= f.text_field :name %>
    </div>

    <div class="field mb-3">
      <%= f.label :遊び方説明・内容説明 %>
      <%= f.text_area :introduction %>
    </div>

     <div class="field mb-3">
      <%= f.label :費用 %>
      <%= f.text_field :cost %>
    </div>

    <div class="field mb-3">
      <%= f.label :ジャンル %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt:"選択してください"}) %>
    </div>

    <%= f.submit "投稿する", class: "btn btn-secondary  mb-5" %>
  <% end %>