
<div class="container text-center">
  <h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-3 mb-3">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mb-4">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "ログイン", class:"btn btn-outline-dark mb-5" %>
    </div>
  <% end %>

</div>