<div class= "container text-center">

  <div class= "genre_new mb-5">
  <h2>ジャンル作成</h2>
    <%= form_with model: @genre, url:admin_genres_path do |f| %>
      <div class="field align-bottom">
        <%= f.text_field :name %>
        <%= f.submit "作成" , class:"btn btn-outline-dark ml-2 mb-1"  %>
      </div>
    <% end %>
  </div>

  <div class= "genre_index">
  <h2>ジャンル一覧</h2>
    <% @genres.each do |genre| %>
      <table class="table">
        <tr>
          <td><%=genre.id %></td>
          <td><%= genre.name %></td>
          <td><%=link_to "編集", edit_admin_genre_path(genre.id) %></td>
        </tr>
      </table>
    <% end %>
    </div>
</div>