<%= flash[:notice] %>
<div class="col-md-8 offset-3">

  <h2 class= "post_name mb-3"><%= @post.name %></h2>
  <p><%= @post.favorites.count %> お気に入り</p>
    <p>
      <% if @post.post_images.attached? %>
        <% @post.post_images.each do|image| %>
          <%= image_tag image.variant(resize_to_limit: [300,300]), class:"mr-2" %>
        <% end %>
      <% end %>
    </p>
    <p>あそび方説明： <%= @post.introduction %></p>
    <p>費用： <%= @post.cost %></p>
    <p>ジャンル： <%= @post.genre.name %></p>
    <p>投稿日時： <%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <p> 投稿者：  <%= link_to admin_user_path(@post.user) do %>
                    <%=@post.user.username %>
                  <% end %>
    </p>

    <%= link_to "あそびの削除" ,admin_post_path(@post.id) , method: :delete , "data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger" %>


  <h3 class="comment mt-5" >コメント</h3>
    <p>コメント件数：<%= @comments.count %></p>

    <table class ="table">
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= comment.user.username %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "コメントの削除" ,admin_comment_path(comment.id) , method: :delete , "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
      <% end %>
    </table>
  <%= paginate @comments %>
</div>