<%= flash[:notice] %>

<h4>ユーザーの一覧</h4>

  <table class="table">
    <tr>
      <th>ユーザーID</th>
      <th>ユーザーネーム</th>
      <th>ユーザーステータス</th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to admin_user_path(user.id) do %>
            <%= user.username %>
          <% end %>
      </td>
      <td>
        <% if user.is_deleted == true %>
          退会済み
        <% else %>
          有効
        <% end %>
      </td>
      <td><%= link_to "編集" , edit_admin_user_path(user.id) %></td>
    </tr>
  <% end %>
  </table>

<%= paginate @users %>