<h1><%= @user.username %>さんの登録詳細</h1>
 <%= link_to "編集する ", edit_admin_user_path(@user.id) %>
  <table class="table">

    <tr><th>ユーザーID</th><td><%= @user.id %></td></tr>
    <tr><th>ユーザーネーム</th><td><%= @user.username %></td></tr>
    <tr><th>ユーザーステータス</th>
          <td>
            <% if @user.is_deleted == true %>
              退会済み
            <% else %>
              有効
            <% end %>
          </td>
    </tr>
    <tr><th>年代</th><td><%= @user.age %></td></tr>
    <tr><th>性別</th><td><%= @user.gender %></td></tr>
    <tr><th>自己紹介</th></th><td><%= @user.introduction %></td></tr>
  </table>


<h1><%= @user.username %>さんの投稿一覧</h1>
  <table class = "table">
    <thead>
    <tr>
      <th>投稿日</th>
      <th>遊び名</th>
    </tr>
    </thead>

  <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= l post.created_at %></td>
        <td><%= link_to admin_post_path(post.id) do %>
            <%= post.name %></td>
            <% end %>
      </tr>
    </tbody>
  <% end %>
  </table>

<h1><%= @user.username %>さんのコメント一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>遊び名</th>
      <th>コメント日</th>
      <th>コメント内容</th>
      <th></th>
    </tr>
    </thead>

 <% @comments.each do |comment| %>
    <tbody>
      <tr>
        <td><%= comment.post.name %></td>
        <td><%= l comment.created_at %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "コメントの削除" ,admin_comment_path(comment.id) , method: :delete , "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    </tbody>
  <% end %>
  </table>