<div class="container text-center">
  <h2>ユーザー編集</h2>
    <%= form_with model: @user do |f| %>
      <div class="field mt-5 mb-3">
        <label for ="username">ユーザーネーム</label>
        <%= f.text_field :username %>
      </div>

      <div class="field mb-3">
        <label for ="age">年齢</label>
        <%= f.select :age, [['10歳以下','10歳以下'],['10代','10代'],['20代','20代'],['30代','30代'],['40代','40代'],['50代','50代'],['60代','60代'],['70代','70代'],['80代','80代'],['90代','90代'],['100歳以上','100歳以上'],['ヒミツ♡','ヒミツ♡']], {prompt: "選択してください" } %>
        <%= f.hidden_field :user_id, :value => @user.id  %>
      </div>

      <div class="field mb-3">
        <label for ="gender">性別</label>
        <%= f.select :gender, [['男性','男性'],['女性','女性'],['無回答','無回答'],['ヒミツ♡','ヒミツ♡']], {prompt: "選択してください" } %>
        <%= f.hidden_field :user_id, :value => @user.id %>
      </div>

      <div class="field mb-3">
        <label for ="introduction">自己紹介</label>
        <%= f.text_area :introduction %>
      </div>

      <div class="form-user  mb-5">
        <%= f.submit "保存", class: "btn btn-secondary btn-sm " %>
      </div>

      <div class="btn mt-5 mb-5">
        <%= link_to "退会" , users_secession_path, class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
</div>