<h2><%= @user.username %>さんの投稿一覧</h2>

   <h2>あそび</h2>(全<%= @posts.count %>件）
    <%= link_to"あそびを投稿する", new_post_path,class:" btn" %>
  </div>

  <% @posts.each do |post| %>
    <%= link_to users_path  do %>
      <%=post.user.username %>
    <% end %>

    <%= link_to post_path(post.id) do %>
      <%= post.name %>
    <% end %>

    約<%= post.time %>分
      <%= post.genre.name %>
  <% end %>
</div>
