<div class="container text-center">

<h1>マイページ</h1>

<table class="table">
  <tr><th>ユーザーネーム</th><td><%= @user.username %></td></tr>
  <tr><th>年代</th><td><%= @user.age %></td></tr>
  <tr><th>性別</th><td><%= @user.gender %></td></tr>
  <tr><th>自己紹介</th></th><td><%= @user.introduction %></td></tr>
</table>

<%= link_to "編集する ", edit_user_path(current_user) %>



<table>
  <thead>
  <tr>
    <th>投稿日</th>
    <th>遊び名</th>
  </tr>
  </thead>
</table>

<% @posts.each do |post| %>
  <tbody>
    <tr>
      <td><%= post.created_at %></td>
      <td><%= post.name %>
    </tr>
  </tbody>


<% end %>

</div>