<!DOCTYPE html>
<html>
  <head>
    <title>Nanisuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" >ナニスル？</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <% if admin_signed_in? %>
            <li class="nav_item ">
              <%= link_to "投稿一覧" , admin_posts_path, class: "btn btn-secondary" %>
            </li>
            <li class="nav_item">
              <%= link_to "会員一覧" , admin_users_path, class: "btn btn-secondary" %>
            </li>
            <li class="nav_item">
              <%= link_to "ジャンル一覧" ,admin_genres_path, class: "btn btn-secondary" %>
            </li>
            <li class="nav_item">
              <%= link_to "ログアウト" , destroy_admin_session_path , method: :delete , class: "btn btn-secondary" %>
            </li>
          <% elsif signed_in? %>
            <li class="nav_item">
              <%=link_to "あそび一覧", posts_path, class: "btn btn-outline-info" %>
            </li>
            <li class="nav_item">
              <%=link_to "しぼりこむ", posts_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav_item">
              <%=link_to "マイページ", user_path(current_user), class: "btn btn-outline-warning" %>
            </li>
            <li class="nav_item">
              <%=link_to "お気に入り"  , favorites_path,class: "btn btn-outline-danger" %>
            </li>
            <li class="nav_item">
              <%=link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary" %>
            </li>
          <% else %>
            <li class="nav_item mr-5">
              <%=link_to "サイトについて", homes_about_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav_item mr-5">
              <%=link_to "新規登録", new_user_registration_path, class: "btn btn-outline-danger" %>
            </li>
            <li class="nav_item">
              <%=link_to "ログイン",  new_user_session_path, class: "btn btn-outline-primary" %>
            </li>
            <li>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
            </li>

          <% end %>
        </ul>
        </div>
      </div>
      </nav>
    </header>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
