<!DOCTYPE html>
<html>
  <head>
    <title>Nanisuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <style>
      .slick-prev:before, .slick-next:before {
        color: red;
      }
    </style>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background:#00B3CC;>
      <div class="container-fluid">
        <a class="navbar-brand" >ナニスル？</a>
        <button class="navbar-toggler  navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto text-white">
          <% if admin_signed_in? %>
            <li class="nav_item mr-3 mb-1">
              <%= link_to "投稿一覧" , admin_posts_path,  class:"btn btn-outline-light" %>
            </li>
            <li class="nav_item mr-3 mb-1">
              <%= link_to "会員一覧" , admin_users_path, class:"btn btn-outline-light" %>
            </li>
            <li class="nav_item mr-3 mb-1">
              <%= link_to "ジャンル一覧" ,admin_genres_path, class:"btn btn-outline-light" %>
            </li>
            <li class="nav_item">
              <%= link_to "ログアウト" , destroy_admin_session_path , method: :delete , class:"btn btn-outline-light" %>
            </li>
          <% elsif signed_in? %>
            <li class="nav_item mr-3 mb-1">
              <%=link_to "あそび一覧", posts_path, class: "text-white" %>
            </li>
            <li class="nav_item mr-3 mb-1">
              <%=link_to "マイページ", user_path(current_user), class: "text-white" %>
            </li>
            <li class="nav_item mr-3 mb-1" >
              <%=link_to "お気に入り"  , favorites_path, class: "text-white" %>
            </li>
            <li class="nav_item ">
              <%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
            </li>
          <% else %>
            <li class="nav_item mr-3 mb-1">
              <%=link_to "サイトについて", homes_about_path, class: "text-white"  %>
            </li>
            <li class="nav_item mr-3 mb-1">
              <%=link_to "新規登録", new_user_registration_path, class: "text-white" %>
            </li>
            <li class="nav_item mr-3 mb-1">
              <%=link_to "ログイン",  new_user_session_path, class: "text-white" %>
            </li>
            <li>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "text-white" %>
            </li>

          <% end %>
        </ul>
        </div>
      </div>
      </nav>
    </header>

    <main class="container mt-5 mb-auto ">
      <%= yield %>
    </main>

    <footer class=" text-center text-white", style=background:#00B3CC;>
      <div class="container ">
            <p>Copyright © nanisuru? All Rights Reserved. </p>
      </div>
    </footer>
  </body>
</html>
